@media(max-width: 760px){
    main{
        padding: 30px;
    }
    .rectangle-horizontal{
        width: 375px;
        height: 809px;
        flex-direction: column;
    }
    .rectangle-vertical{
        height: 356px;
        border-radius: 0px 0px 32px 32px;
    }
    .rectangle-vertical .title{
        width: 94px;
        height: 23px;
        font-size: 18px;
        margin-top: 24px;
        margin-left: 141px;
    }
    .rectangle-vertical .image{
        width: 140px;
        height: 140px;
        margin-top: 24px;
        margin-left: 118px;
    }
    .rectangle-vertical .great{
        font-size: 18px;
        margin-top: 24px;
    }
    .rectangle-vertical .about{
        font-size: 16px;
        margin-top: 8px;
    }
    .rectangle-horizontal .summary-title{
        font-size: 18px;
        width: 78px;
        height: 23px;
        margin-top: 24px;
        margin-left: 32px;
        line-height: normal;
    }
    .summary .display{
        width: 315px;
        height: 56px;
        margin-top: 16px;
        margin-left: 30px;
        border-radius: 12px;
        flex-shrink: 0;
    }
    .summary .percentage-title{
        font-size: 16px;
    }
    .summary .percentage{
        font-size: 16px;
    }
    .btn{
        width: 315px;
        margin-top: 24px;
    }
}